<ion-view title="Type">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div>
            <p>
                Pick a type of move:
            </p>
        </div>
        <a ui-sref="tabsController.friends" class="button  button-block  icon ion-pizza">Lunch</a>
        <a ui-sref="tabsController.friends" class="button  button-block  icon ion-coffee">Coffee</a>
        <a ui-sref="tabsController.friends" class="button  button-block  icon ion-ios-film">Movies</a>
        <a ui-sref="tabsController.friends" class="button  button-block  icon ion-wineglass">Dinner</a>
        <a ui-sref="tabsController.friends" class="button  button-block  icon ion-beer">Happy Hour</a>
        <a ui-sref="tabsController.friends" class="button  button-block  icon ion-plus">Random</a>
        <form class="list"></form>
    </ion-content>
</ion-view>